mixin input(data)
	input(type=data.type ? type=data.type : type="text"  value=data.val ? value=data.val : value="" name=data.name id=data.id placeholder=data.place class=data.class class="global_input")
	if data.txt
		label(for=data.id)!=data.txt



mixin social-list(socials)
	ul.socials-list
		each item in socials
			li.social_list__item 
				a(href=item.link)
					img(src=`/i/socials/${item.icon}.svg`, alt=`Ruver ${item.icon}`)


mixin btn({ text, href, isLoading = false, className = '' })
	if href
		a.global-btn(class=className href=href)
			if isLoading
				span.loader
			| #{text}
	else
		button.global-btn(type="button" class=className disabled=isLoading)
			if isLoading
				span.loader
			| #{text}


mixin sixstep(data)
	li.sixstep_item 
		.sixstep_item__num.text-red.h1=data.num
		.sixstep_item__content 
			p=data.title
			span=data.text